/* 頁尾 */
.footer {
  padding: 50px 100px 25px 100px;
  background-color: #12032f;
}

/* 合作夥伴 */
.partners {
  height: max-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners .up {
  margin-bottom: 50px;
  text-wrap: nowrap;
  color: #d5c8e6;
}

.partners .down {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.partner {
  width: 280px;
  transition: 0.2s;
}

.partner:hover {
  filter: brightness(0.8);
}

/* 公司資訊 */
.info {
  height: max-content;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  gap: 50px;
}

.socialMedia {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedia .title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #d5c8e6;
}

.socialMedia .icons {
  padding: 10px;
  border-radius: 10px;
  background-color: #d5c8e6;
  display: flex;
  gap: 20px;
}

.socialMedia .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia .icons a .mediaIcon {
  width: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.socialMedia .icons a .mediaIcon:hover {
  filter: brightness(0.7);
}

.contactUs {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contactUs .title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #d5c8e6;
}

.contactUs .email {
  height: 70px;
  width: 280px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #bc98ea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.contactUs .email:hover {
  filter: brightness(1.2);
}

.contactUs .email span {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contactUs .email svg {
  font-size: 28px;
  color: #6236e7;
}

/* 公司版權 */
.copyright {
  height: max-content;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright .left {
  margin-left: 25px;
  color: #737883;
}

.copyright .right {
  width: max-content;
  margin-right: 25px;
  display: flex;
  gap: 30px;
}

.copyright .right a {
  position: relative;
  color: #d5c8e6;
  text-decoration: none;
}

.animatedLine:hover {
  color: #000;
}

.animatedLine::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d5c8e6;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.animatedLine:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1130px) {
  .copyright {
    height: max-content;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright .left {
    margin-left: 0;
  }

  .copyright .right {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 950px) {
  .partners .down {
    grid-template-columns: repeat(2, 1fr);
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .socialMedia {
    margin-bottom: 20px;
  }

  .copyright .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .footer {
    padding: 50px 50px 25px 50px;
  }

  .partners .down {
    gap: 20px;
  }
  
  .partner {
    width: 160px;
  }

  .copyright .left {
    font-size: 14px;
  }

  .copyright .right {
    font-size: 14px;
  }
}